USE [master]
GO


CREATE DATABASE WEB2
GO

USE WEB2
GO
CREATE TABLE [dbo].[DetailedInvoice](
	[DetailedInvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NULL,
	[ProductID] [int] NULL,
	[Price] [decimal](18, 0) NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_DetailedInvoice] PRIMARY KEY CLUSTERED 
(
	[DetailedInvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Disscount]    Script Date: 25/04/2017 1:13:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disscount](
	[DiscountID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[Value] [int] NULL,
 CONSTRAINT [PK_Disscount] PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 25/04/2017 1:13:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[StatusID] [int] NULL,
	[Date] [date] NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Producer]    Script Date: 25/04/2017 1:13:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producer](
	[ProducerID] [nvarchar](50) NOT NULL,
	[ProducerName] [nvarchar](255) NULL,
	[LoGo] [nvarchar](255) NULL,
	[Deleted] [bigint] NULL,
 CONSTRAINT [PK_Producer] PRIMARY KEY CLUSTERED 
(
	[ProducerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 25/04/2017 1:13:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[ProductTypeID] [nvarchar](50) NULL,
	[ProducerID] [nvarchar](50) NULL,
	[Price] [decimal](18, 0) NULL,
	[Sold] [int] NULL,
	[Quantity] [int] NULL,
	[Viewed] [int] NULL,
	[Date] [date] NULL,
	[Description] [nvarchar](255) NULL,
	[ImageURL] [nvarchar](255) NULL,
	[Deleted] [bigint] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductDetail]    Script Date: 25/04/2017 1:13:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetail](
	[ProductDetailedID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[Screen] [nvarchar](50) NULL,
	[OperatingSystem] [nvarchar](50) NULL,
	[CPU] [nvarchar](50) NULL,
	[Ram] [nvarchar](50) NULL,
	[Pin] [nvarchar](50) NULL,
 CONSTRAINT [PK_ProductDetail] PRIMARY KEY CLUSTERED 
(
	[ProductDetailedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 25/04/2017 1:13:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[ProductTypeID] [nvarchar](50) NOT NULL,
	[ProductTypeName] [nvarchar](255) NULL,
	[Deleted] [bigint] NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[ProductTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Status]    Script Date: 25/04/2017 1:13:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 25/04/2017 1:13:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserTypeID] [int] NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [nchar](11) NULL,
	[Birthday] [nvarchar](30) NULL,
	[Deleted] [bigint] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserType]    Script Date: 25/04/2017 1:13:26 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserType](
	[UserTypeID] [int] IDENTITY(1,1) NOT NULL,
	[UserTypeName] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserType] PRIMARY KEY CLUSTERED 
(
	[UserTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Producer] ([ProducerID], [ProducerName], [LoGo], [Deleted]) VALUES (N'1', N'Apple', NULL, 0)
INSERT [dbo].[Producer] ([ProducerID], [ProducerName], [LoGo], [Deleted]) VALUES (N'2', N'Sony', NULL, 0)
INSERT [dbo].[Producer] ([ProducerID], [ProducerName], [LoGo], [Deleted]) VALUES (N'3', N'Opple', NULL, 0)
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductTypeID], [ProducerID], [Price], [Sold], [Quantity], [Viewed], [Date], [Description], [ImageURL], [Deleted]) VALUES (1, N'Iphone 6 plus 16GB', N'1', N'1', CAST(11990000 AS Decimal(18, 0)), 0, 5, 0, CAST(0x903C0B00 AS Date), N'Màn hình HD cực đẹp, trải nghiệm IOS mượt mà', N'Iphone 6 plus 16GB.png', 0)
INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductTypeID], [ProducerID], [Price], [Sold], [Quantity], [Viewed], [Date], [Description], [ImageURL], [Deleted]) VALUES (2, N'Opple F1s 64GB', N'1', N'3', CAST(6990000 AS Decimal(18, 0)), 0, 5, 0, CAST(0x903C0B00 AS Date), N'Lưu trữ thoải mái, camera selfie 16MP', N'oppo-f1s.png', 0)
INSERT [dbo].[Product] ([ProductID], [ProductName], [ProductTypeID], [ProducerID], [Price], [Sold], [Quantity], [Viewed], [Date], [Description], [ImageURL], [Deleted]) VALUES (3, N'Oppo-f3 psus', N'2', N'4', CAST(10590000 AS Decimal(18, 0)), 0, 5, 0, CAST(0x903C0B00 AS Date), N'Window 10 bản quyền, mua office giá rẻ', N'Oppo-f3 psus.png', 0)
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[ProductDetail] ON 

INSERT [dbo].[ProductDetail] ([ProductDetailedID], [ProductID], [Screen], [OperatingSystem], [CPU], [Ram], [Pin]) VALUES (1, 1, N'5.5", Retina HD', N'IOS 9', N'Apple A8 2 nhân 64 bit', N'1GB', N'2915mAh')
INSERT [dbo].[ProductDetail] ([ProductDetailedID], [ProductID], [Screen], [OperatingSystem], [CPU], [Ram], [Pin]) VALUES (2, 2, N'5.5", HD', N'Android 5.1 (Lollipop)', N'Mediatek MT6750 8 nhân', N'4GB', N'3075mAh')
INSERT [dbo].[ProductDetail] ([ProductDetailedID], [ProductID], [Screen], [OperatingSystem], [CPU], [Ram], [Pin]) VALUES (3, 3, N'15.6", Full HD', N'Window 10 Home', N'Intel core i3, 2.0GHz', N'4GB', N'4 cell')
SET IDENTITY_INSERT [dbo].[ProductDetail] OFF
INSERT [dbo].[ProductType] ([ProductTypeID], [ProductTypeName], [Deleted]) VALUES (N'1', N'Điện thoại', 0)
INSERT [dbo].[ProductType] ([ProductTypeID], [ProductTypeName], [Deleted]) VALUES (N'2', N'Laptop', 0)
INSERT [dbo].[ProductType] ([ProductTypeID], [ProductTypeName], [Deleted]) VALUES (N'3', N'Phụ kiện', 0)
SET IDENTITY_INSERT [dbo].[UserType] ON 

INSERT [dbo].[UserType] ([UserTypeID], [UserTypeName]) VALUES (1, N'Admin')
INSERT [dbo].[UserType] ([UserTypeID], [UserTypeName]) VALUES (2, N'Member')
SET IDENTITY_INSERT [dbo].[UserType] OFF
ALTER TABLE [dbo].[Producer] ADD  CONSTRAINT [DF_Producer_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[ProductType] ADD  CONSTRAINT [DF_ProductType_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Product]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_User]
GO
ALTER TABLE [dbo].[DetailedInvoice]  WITH CHECK ADD  CONSTRAINT [FK_DetailedInvoice_Invoice] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoice] ([InvoiceID])
GO
ALTER TABLE [dbo].[DetailedInvoice] CHECK CONSTRAINT [FK_DetailedInvoice_Invoice]
GO
ALTER TABLE [dbo].[DetailedInvoice]  WITH CHECK ADD  CONSTRAINT [FK_DetailedInvoice_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[DetailedInvoice] CHECK CONSTRAINT [FK_DetailedInvoice_Product]
GO
ALTER TABLE [dbo].[Disscount]  WITH CHECK ADD  CONSTRAINT [FK_Disscount_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Disscount] CHECK CONSTRAINT [FK_Disscount_Product]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([StatusID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Status]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_User]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Producer] FOREIGN KEY([ProducerID])
REFERENCES [dbo].[Producer] ([ProducerID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Producer]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductType] FOREIGN KEY([ProductTypeID])
REFERENCES [dbo].[ProductType] ([ProductTypeID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductType]
GO
ALTER TABLE [dbo].[ProductDetail]  WITH CHECK ADD  CONSTRAINT [FK_ProductDetail_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ProductDetail] CHECK CONSTRAINT [FK_ProductDetail_Product]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_UserType] FOREIGN KEY([UserTypeID])
REFERENCES [dbo].[UserType] ([UserTypeID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_UserType]
GO
USE [master]
GO
